@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-2xl;
  }
}
